@use "cv"as *;

/* PRIVATE CALL */
#{cn(Chat chat)} {
	#{cn("FluxContainer(PrivateChannelCall)" wrapper)} {
		background: rgba(0, 0, 0, calc(var(--background-shading) * .6));
		box-shadow: 0 0 10px rgba(0, 0, 0, calc(var(--background-shading) * .6));

		#{cn("FluxContainer(PrivateChannelCall)" container)} {
			background: transparent;
		}

		#{cn("FluxContainer(PrivateChannelCall)" actionsWrapper)} {

			#{cn("FluxContainer(PrivateChannelCall)" centerButton)},
			#{cn("FluxContainer(PrivateChannelCall)" contextMenuNub)} {
				background: rgba(0, 0, 0, .3);
				border-radius: 50%;
				color: hsla(0, 0%, 100%, .6);

				#{cn("FluxContainer(PrivateChannelCall)" controlIcon)} {
					color: hsla(0, 0%, 100%, .6)
				}

				&:hover {
					background: rgba(0, 0, 0, .5);
					color: hsla(0, 0%, 100%, .9);

					#{cn("FluxContainer(PrivateChannelCall)" controlIcon)} {
						color: hsla(0, 0%, 100%, .9);
					}
				}
			}



		}

		#{cn("FluxContainer(PrivateChannelCall)" border)} {
			&#{cn("FluxContainer(PrivateChannelCall)" speaking)} {
				box-shadow: inset 0 0 0 2px $main-color, inset 0 0 0 3px var(--background-floating);
			}
		}

		#{cn("FluxContainer(PrivateChannelCall)" avatarWrapper)} {

			&#{cn("FluxContainer(PrivateChannelCall)" ringingIncoming)},
			&#{cn("FluxContainer(PrivateChannelCall)" ringingOutgoing)} {
				&:after {
					border-color: $main-color;
				}
			}
		}

		#{cn("FluxContainer(PrivateChannelCall)" status)} {
			background-color: $main-color;
		}

	}

	#{cn("FluxContainer(PrivateChannelCall)" borderSharing)} {
		&#{cn("FluxContainer(PrivateChannelCall)" speakingSharing)} {
			box-shadow: inset 0 0 0 2px $main-color, inset 0 0 0 3px var(--background-floating);
		}
	}
}