@use "cv"as *;

#{cn("FluxContainer(Messages)" messagesWrapper)} {
	#{cn(Message message)} {
		transition: background .3s ease-in-out;

		&:hover {
			background: hsla(0, 0%, 100%, .1) !important;
			transition-delay: .3s;
		}
	}
	&#{cn(MessageGroup isLocalBot)} {
		background: linear-gradient(to right, transparent, hsla(0, 0%, 100%, .04) 10%, hsla(0, 0%, 100%, .04) 90%, transparent);
		box-shadow: none;
		color: hsla(0, 0%, 100%, .3);
	}

	+#{cn(MessageGroup container)} {
		margin-top: -1px;
	}

	#{cn(MessageGroup dividerEnabled)} {
		margin-top: 0;
		padding-top: 18px;
		border-bottom: 1px solid hsla(0, 0%, 100%, .04);
	}

	// HEADER
	#{cn(Message avatar)} {
		transition: all .3s ease-in-out, transform .1s ease-in-out;

		&:active {
			transform: scale(.9);
		}
	}

	#{cn(Message username)} {
		@include hover-shadow;
	}

	#{cn(Message timestamp)} {
		color: hsla(0, 0%, 100%, .3);
		transition: all .3s ease-in-out;
	}

	&:hover #{cn(Message timestampCozy)},
	&:hover #{cn(Message timestampCompact)} {
		color: hsla(0, 0%, 100%, .7);
	}


	// CONTENT
	#{cn(SystemMessage container)} {
		color: hsla(0, 0%, 100%, .5);
	}

	#{cn(MessageContent 5757 markup)} {
		color: hsla(0, 0%, 100%, .8);
	}

	// LINKS
	#{cn(Message content)} {

		a,
		#{cn(Anchor anchor)} {
			color: $main-color;
			@include hover-shadow;
		}
	}

	// MENTIONED
	&#{cn(MessageContent mentioned)} {
		background: hsla(0, 0%, 100%, .1);

		&:before {
			background: transparent;
			border-left: 4px solid $main-color;
			border-radius: 2px 0 0 2px;
		}

		&:hover {
			background: hsla(0, 0%, 100%, .12) !important;
		}
	}

	// BLOCKQUOTE
	#{cn(MessageContent 5757 markup)} {
		#{cn(MessageContent 5757 blockquoteDivider)} {
			background: hsla(0, 0%, 100%, .1);
			border-radius: 0;
		}
	}

	// BUTTONS
	#{cn(MessageOptionButton button)},
	#{cn(Reactions reactionBtn)} {
		visibility: visible;
		opacity: 0;
		transition: all .15s ease-in-out;
	}

	#{cn(Message buttonWrapper)} {
		background: transparent;
	}


	#{cn(Message message)} {
		&:hover {
			#{cn(MessageOptionButton button)},
			#{cn(Reactions reactionBtn)} {
				opacity: .3;
			}
		}

		#{cn(MessageOptionButton button)},
		#{cn(Reactions reactionBtn)} {
			&:hover {
				opacity: .7;
			}
		}
	}


	// EDITING
	#{cn(MessageEditor operations)} {
		color: hsla(0, 0%, 100%, .3);
	}

	// MESSAGE JUMP
	>div[style^="border-radius: 2px;"] {
		&[style$="0);"] {
			animation: none;
		}

		border-radius: 3px !important;
		animation: cv-message-jump 2s ease-in-out;
	}
}