@use "cv"as *;
@import "lib/legacy-selectors";

/* MESSAGE */
#{cn("FluxContainer(Messages)" messages)} {
	#{cn(MessageContent message)} {
		transition: background .3s ease-in-out;

		&:hover {
			background: hsla(0, 0%, 100%, .1) !important;
			transition-delay: .3s;
		}
	}
}

#{cn(MessageContent message)} {
	&%messageGroupLocalBot {
		background: linear-gradient(to right, transparent, hsla(0, 0%, 100%, .04) 10%, hsla(0, 0%, 100%, .04) 90%, transparent);
		box-shadow: none;
		color: hsla(0, 0%, 100%, .3);
	}

	+%messageGroup {
		margin-top: -1px;
	}

	%dividerEnabled {
		margin-top: 0;
		padding-top: 18px;
		border-bottom: 1px solid hsla(0, 0%, 100%, .04);
	}

	// HEADER
	#{cn(Message avatar)} {
		transition: all .3s ease-in-out, transform .1s ease-in-out;

		&:active {
			transform: scale(.9);
		}
	}

	#{cn(Message username)} {
		@include hover-shadow;
	}

	#{cn(Message timestamp)} {
		color: hsla(0, 0%, 100%, .3);
		transition: all .3s ease-in-out;

		&:hover {
			color: hsla(0, 0%, 100%, .7);
		}
	}


	// CONTENT
	#{cn(SystemMessage container)} {
		color: hsla(0, 0%, 100%, .5);
	}

	#{cn(MessageContent 5757 markup)} {
		color: hsla(0, 0%, 100%, .8);
	}

	// LINKS
	#{cn(Message content)} {

		a,
		%anchor {
			color: $main-color;
			@include hover-shadow;
		}
	}

	// MENTIONED
	&#{cn(MessageContent mentioned)} {
		background: hsla(0, 0%, 100%, .1);

		&:before {
			background: transparent;
			border-left: 4px solid $main-color;
			border-radius: 2px 0 0 2px;
		}

		&:hover {
			background: hsla(0, 0%, 100%, .12) !important;
		}
	}

	// BLOCKQUOTE
	#{cn(MessageContent 5757 markup)} {
		#{cn(MessageContent 5757 blockquoteDivider)} {
			background: hsla(0, 0%, 100%, .1);
			border-radius: 0;
		}
	}

	// BUTTONS
	#{cn(Message buttonContainer)} {
		visibility: visible;
		opacity: 0;
		transition: all .15s ease-in-out;
	}

	#{cn(Message message)} {
		&:hover {
			#{cn(Message buttonContainer)} {
				opacity: .3;
			}
		}

		#{cn(Message buttonContainer)} {
			&:hover {
				opacity: .7;
			}
		}
	}

	#{cn(Message buttonWrapper)} {
		&:first-child {
			background: url(https://clearvision.gitlab.io/icons/emote.svg) center/100% no-repeat;

			&:hover {
				opacity: .7 !important;
			}
		}
	}

	#{cn(Message buttonWrapper)} {
		&:last-child {
			background: url(https://clearvision.gitlab.io/icons/settings.svg) center/100% no-repeat;

			&:hover {
				animation: cv-spin 2.5s linear infinite;
			}
		}
	}

	#{cn(Message buttonWrapper)} {

		&:first-child,
		&:last-child {
			>svg { 
				display: none;
			}
		}
	}

	// EDITING
	#{cn(MessageEditor operations)} {
		color: hsla(0, 0%, 100%, .3);
	}

	// MESSAGE JUMP
	>div[style^="border-radius: 2px;"] {
		&[style$="0);"] {
			animation: none;
		}

		border-radius: 3px !important;
		animation: cv-message-jump 2s ease-in-out;
	}
}