@use "cv" as *;
@import "lib/legacy-selectors";

/* MESSAGE REACTION */
#{cn(Reactions reactions)} #{cn(Reactions reaction)} {
	position: relative;
	background: hsla(0, 0%, 100%, .04);
	border-radius: 3px;
	border: none;
	transition: all .15s ease-in-out;
	#{cn(Reactions reactionInner)} {
		padding: 0 5px;
		.emoji {
			z-index: 1;
			position: relative;
		}
	}
	#{cn(Reactions reactionCount)} {
		margin-left: 5px;
		color: hsla(0, 0%, 100%, .3);
		transition: all .15s ease-in-out;
		z-index: 1;
	}
	&:hover {
		background: hsla(0, 0%, 100%, .1);
		#{cn(Reactions reactionCount)} {
			color: hsla(0, 0%, 100%, .5);
		}
	}
	&#{cn(Reactions reactionMe)} {
		background: transparent;
		&:after {
			content: "";
			position: absolute;
			@include stretch;
			background: $main-color;
			border-radius: 3px;
			opacity: .5;
			// z-index: -1;
			transition: all .15s ease-in-out;
		}
		#{cn(Reactions reactionCount)} {
			color: hsla(0, 0%, 100%, .7);
		}
		&:hover {
			&:after {
				opacity: .7;
			}
			#{cn(Reactions reactionCount)} {
				color: #fff;
			}
		}
	}
}