@use "cv"as *;
@import "lib/legacy-selectors";

/* SETTINGS SIDEBAR ICONS */
%settingsSidebar {
	// ICON MAP
	$icons: ( 
			// USER SETTINGS
			"my-account": "https://omgdani.github.io/ClearVision-v6/icons/manage_accounts.svg",
			"profile-customization": "https://clearvision.github.io/icons/person.svg",
			"privacy-&-safety": "https://clearvision.github.io/icons/security.svg",
			"authorized-apps": "https://clearvision.github.io/icons/apps.svg",
			"connections": "https://clearvision.github.io/icons/link.svg",

			"discord-nitro": "https://clearvision.github.io/icons/nitro.svg",
			"nitro-server-boost": "https://clearvision.github.io/icons/server_boost.svg",
			"subscriptions": "https://omgdani.github.io/ClearVision-v6/icons/autorenew.svg",
			"library-inventory": "https://clearvision.github.io/icons/gift.svg",
			"billing": "https://clearvision.github.io/icons/payment.svg",

			"appearance": "https://clearvision.github.io/icons/camera.svg",
			"accessibility" : "https://omgdani.github.io/ClearVision-v6/icons/settings_accessibility.svg",
			"voice-&-video": "https://clearvision.github.io/icons/mic.svg",
			"text-&-images": "https://clearvision.github.io/icons/chat.svg",
			"notifications": "https://clearvision.github.io/icons/notifications.svg",
			"keybinds": "https://clearvision.github.io/icons/keyboard.svg",
			"language": "https://clearvision.github.io/icons/language.svg",
			"windows": "https://clearvision.github.io/icons/windows.svg",
			"linux": "https://clearvision.github.io/icons/linux.svg",
			"streamer-mode": "https://clearvision.github.io/icons/videocam.svg",
			"advanced": "https://clearvision.github.io/icons/settings.svg",

			"game-activity": "https://clearvision.github.io/icons/games.svg",
			"overlay": "https://clearvision.github.io/icons/aspect_ratio.svg",

			"changelog": "https://clearvision.github.io/icons/history.svg",
			"hypesquad-online": "https://clearvision.github.io/icons/hypesquad.svg",
			"experiments": "https://clearvision.github.io/icons/flask.svg",
			"developer-options": "https://clearvision.github.io/icons/bug.svg",
			"hotspot-options": "",
			"dismissible-content-options": "",
			"payment-flow-modals": "",

			"bd-settings": "https://clearvision.github.io/icons/betterdiscord.svg",
			"bd-emotes": "https://clearvision.github.io/icons/emote.svg",
			"bd-plugins": "https://clearvision.github.io/icons/puzzle.svg",
			"bd-themes": "https://clearvision.github.io/icons/palette.svg",
			"bd-customcss": "https://clearvision.github.io/icons/code_braces.svg",

			"logout": "https://clearvision.github.io/icons/exit.svg",

			// GUILD SETTINGS
			"overview":"https://clearvision.github.io/icons/info.svg",
			"roles": "https://clearvision.github.io/icons/assignment.svg",
			"emoji": "https://clearvision.github.io/icons/emote.svg",
			"stickers": "https://omgdani.github.io/ClearVision-v6/icons/image.svg",
			"moderation": "https://clearvision.github.io/icons/security.svg",
			"audit_log": "https://clearvision.github.io/icons/history.svg",
			"integrations": "https://clearvision.github.io/icons/link.svg",
			"widget": "https://omgdani.github.io/ClearVision-v6/icons/widgets.svg",
			"guild_templates": "https://omgdani.github.io/ClearVision-v6/icons/copy.svg",

			"community": "https://clearvision.github.io/icons/people.svg",
			"analytics": "https://omgdani.github.io/ClearVision-v6/icons/analytics.svg",
			"partner": "https://omgdani.github.io/ClearVision-v6/icons/discord/serverPartner.svg",
			"discovery": "https://omgdani.github.io/ClearVision-v6/icons/explore.svg",
			"member_verification": "https://omgdani.github.io/ClearVision-v6/icons/memberVerification.svg",
			"community_welcome": "https://omgdani.github.io/ClearVision-v6/icons/wysiwyg.svg",

			"guild_premium": "https://clearvision.github.io/icons/server_boost.svg",

			"members": "https://clearvision.github.io/icons/group.svg",
			"instant_invites": "https://clearvision.github.io/icons/share.svg",
			"bans": "https://clearvision.github.io/icons/block.svg",

			"delete": "https://clearvision.github.io/icons/delete.svg",

			// CHANNEL SETTINGS
			// "overview": "https://clearvision.github.io/icons/info.svg",
			"permissions": "https://clearvision.github.io/icons/lock.svg",
			// "instant_invites": "https://clearvision.github.io/icons/share.svg",
			// "integrations": "https://clearvision.github.io/icons/link.svg",

			// "delete": "https://clearvision.github.io/icons/delete.svg"
		);


	@each $tab,
	$url in $icons {
		@if str-index($tab, "bd-") {
			%tabBarItem.#{$tab}-tab:before {
				background-image:url(#{$url});
			}
		}

		@else {
			%tabBarItem[aria-controls="#{$tab}-tab"]:before {
				background-image:url(#{$url});
			}
		}
	}

	// GENERAL STYLES
	%tabBarItem {
		padding-left: 50px !important;

		&::before {
			content: "";
			position: absolute;
			width: 24px;
			height: 24px;
			left: 15px;
			margin-top: -2px;
		}
	}
}