@use "cv"as *;
@import "lib/legacy-selectors";

/* SETTINGS SIDEBAR ICONS */
%settingsSidebar {

	// USER SETTINGS
	[aria-label="USER_SETTINGS"] & {

		// ICON MAP
		$icons: ("My Account": "https://clearvision.gitlab.io/icons/person.svg",
				"Privacy & Safety": "https://clearvision.gitlab.io/icons/security.svg",
				"Authorized Apps": "https://clearvision.gitlab.io/icons/apps.svg",
				"Connections": "https://clearvision.gitlab.io/icons/link.svg",

				"Discord Nitro": "https://clearvision.gitlab.io/icons/nitro.svg",
				"Library Inventory": "https://clearvision.gitlab.io/icons/gift.svg",
				"Nitro Server Boost": "https://clearvision.gitlab.io/icons/server_boost.svg",
				"Billing": "https://clearvision.gitlab.io/icons/payment.svg",

				"Appearance": "https://clearvision.gitlab.io/icons/camera.svg",
				"Accessibility" : "https://omgdani.github.io/ClearVision-v6/icons/settings_accessibility.svg",
				"Voice & Video": "https://clearvision.gitlab.io/icons/mic.svg",
				"Text & Images": "https://clearvision.gitlab.io/icons/chat.svg",
				"Notifications": "https://clearvision.gitlab.io/icons/notifications.svg",
				"Keybinds": "https://clearvision.gitlab.io/icons/keyboard.svg",
				"Language": "https://clearvision.gitlab.io/icons/language.svg",
				"Windows": "https://clearvision.gitlab.io/icons/windows.svg",
				"Linux": "https://clearvision.gitlab.io/icons/linux.svg",
				"Streamer Mode": "https://clearvision.gitlab.io/icons/videocam.svg",
				"Advanced": "https://clearvision.gitlab.io/icons/settings.svg",

				"Game Activity": "https://clearvision.gitlab.io/icons/games.svg",
				"Overlay": "https://clearvision.gitlab.io/icons/aspect_ratio.svg",

				"changelog": "https://clearvision.gitlab.io/icons/history.svg",
				"Hypesquad Online": "https://clearvision.gitlab.io/icons/hypesquad.svg",
				"Experiments": "https://clearvision.gitlab.io/icons/flask.svg",
				"Developer Options": "https://clearvision.gitlab.io/icons/bug.svg",

				"Settings": "https://clearvision.gitlab.io/icons/betterdiscord.svg",
				"Emotes": "https://clearvision.gitlab.io/icons/emote.svg",
				"plugins": "https://clearvision.gitlab.io/icons/puzzle.svg",
				"themes": "https://clearvision.gitlab.io/icons/palette.svg",
				"customcss": "https://clearvision.gitlab.io/icons/code_braces.svg",

				"logout": "https://clearvision.gitlab.io/icons/exit.svg"
			);

		// GENERAL STYLES
		%tabBarItem {
			padding-left: 50px !important;

			&::before {
				content: "";
				position: absolute;
				width: 24px;
				height: 24px;
				left: 15px;
				margin-top: -2px;
			}
		}

		@each $tab,
		$url in $icons {
			%tabBarItem[aria-controls="#{$tab}-tab"]:before {
				background-image:url(#{$url});
			}
		}
	}
}