@use "cv"as *;
@import "lib/legacy-selectors";

/* SETTINGS SIDEBAR ICONS */
%settingsSidebar {

	// USER SETTINGS
	[aria-label="USER_SETTINGS"] & {

		// ICON MAP
		$icons: ("my-account": "https://clearvision.gitlab.io/icons/person.svg",
				"privacy-&-safety": "https://clearvision.gitlab.io/icons/security.svg",
				"authorized-apps": "https://clearvision.gitlab.io/icons/apps.svg",
				"connections": "https://clearvision.gitlab.io/icons/link.svg",

				"discord-nitro": "https://clearvision.gitlab.io/icons/nitro.svg",
				"library-inventory": "https://clearvision.gitlab.io/icons/gift.svg",
				"nitro-server-boost": "https://clearvision.gitlab.io/icons/server_boost.svg",
				"billing": "https://clearvision.gitlab.io/icons/payment.svg",

				"appearance": "https://clearvision.gitlab.io/icons/camera.svg",
				"accessibility" : "https://omgdani.github.io/ClearVision-v6/icons/settings_accessibility.svg",
				"voice-&-video": "https://clearvision.gitlab.io/icons/mic.svg",
				"text-&-images": "https://clearvision.gitlab.io/icons/chat.svg",
				"notifications": "https://clearvision.gitlab.io/icons/notifications.svg",
				"keybinds": "https://clearvision.gitlab.io/icons/keyboard.svg",
				"language": "https://clearvision.gitlab.io/icons/language.svg",
				"windows": "https://clearvision.gitlab.io/icons/windows.svg",
				"linux": "https://clearvision.gitlab.io/icons/linux.svg",
				"streamer-mode": "https://clearvision.gitlab.io/icons/videocam.svg",
				"advanced": "https://clearvision.gitlab.io/icons/settings.svg",

				"game-activity": "https://clearvision.gitlab.io/icons/games.svg",
				"overlay": "https://clearvision.gitlab.io/icons/aspect_ratio.svg",

				"changelog": "https://clearvision.gitlab.io/icons/history.svg",
				"hypesquad-online": "https://clearvision.gitlab.io/icons/hypesquad.svg",
				"experiments": "https://clearvision.gitlab.io/icons/flask.svg",
				"developer-options": "https://clearvision.gitlab.io/icons/bug.svg",

				"settings": "https://clearvision.gitlab.io/icons/betterdiscord.svg",
				"emotes": "https://clearvision.gitlab.io/icons/emote.svg",
				"plugins": "https://clearvision.gitlab.io/icons/puzzle.svg",
				"themes": "https://clearvision.gitlab.io/icons/palette.svg",
				"customcss": "https://clearvision.gitlab.io/icons/code_braces.svg",

				"logout": "https://clearvision.gitlab.io/icons/exit.svg"
			);

		// GENERAL STYLES
		%tabBarItem {
			padding-left: 50px !important;

			&::before {
				content: "";
				position: absolute;
				width: 24px;
				height: 24px;
				left: 15px;
				margin-top: -2px;
			}
		}

		@each $tab,
		$url in $icons {
			%tabBarItem[aria-controls="#{$tab}-tab"]:before {
				background-image:url(#{$url});
			}
		}
	}
}