.avatarWrapper_f89da9 {
  left: 50%;
  transform: translateX(-50%);
}

.headerText-1-WmDq {
  text-align: center;
  padding-bottom: 6px;
}

.profileBadges_f89da9 {
  max-width: 100%;
  justify-content: center;
  margin-bottom: 0;
  position: initial;
  order: 1;
}

.headerTop-3GPUSF {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.avatarHint_f89da9 {
  position: relative;
  left: 0;
}

.avatarHoverTarget_f89da9 {
  position: absolute;
}

.avatar-2Vndt_ {
  border: none !important;
  margin-top: 6px;
}
